body {
  background-color: #ffffff; /* Hintergrundfarbe */
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #4F4F4F !important; /* Navbar-Hintergrundfarbe */
}


.navbar a {
    font-weight: bold; /* Schrift fett machen */
    color: #ffffff; /* Textfarbe */
}

.navbar a:hover {
    color: #D8F004; /* Farbe beim Überfahren mit der Maus */
    font-weight: bold;
}

.custom-link {
  color: #799BAF;
  text-decoration: underline;
}

.custom-box {
  border: 3px solid #D8F004; /* Grüner Rand */
  border-radius: 10px;       /* Abgerundete Ecken */
  padding: 15px;            /* Innenabstand */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Schatten */
  font-size: 18px;          /* Schriftgröße */
  background-color: #F9FECE;
}






