

.navbar {
  background-color: #4F4F4F !important; /* Navbar-Hintergrundfarbe */
}


.navbar a {
    font-weight: bold; /* Schrift fett machen */
    color: #ffffff; /* Textfarbe */
}

.navbar a:hover {
    color: #D8F004; /* Farbe beim Überfahren mit der Maus */
    font-weight: bold;
}

/* Allgemeine Einstellungen für den Body */
body {
  background-color: #ffffff; /* Hintergrundfarbe */
  font-family: 'Montserrat', sans-serif; /* Schriftart */
  margin: 0;
  padding: 0;
  height: 170vh; /* Höhe des Viewports */
  display: flex;
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  text-align: center; /* Text im Container zentrieren */
  position: relative;
}

/* Logo rechts oben */
.logo {
  position: absolute;
  top: 90px; /* Abstand vom oberen Rand */
  right: 20px; /* Abstand vom rechten Rand */
  max-width: 180px; /* Maximale Breite des Logos */
  height: auto; /* Automatische Skalierung */
}

/* Container für Bild und Text */
#me {
  display: flex;
  flex-direction: column; /* Elemente untereinander anordnen */
  align-items: center; /* Horizontal zentrieren */
  justify-content: center; /* Vertikal zentrieren */
  text-align: center; /* Text zentrieren */
  height: 50vh; /* Höhe des Containers auf 80% der Viewport-Höhe */
  max-width: 800px; /* Maximale Breite des Containers */
  padding: 20px;
}

#me p {
  font-size: 16px; /* Schriftgröße */
  line-height: 1.6; /* Zeilenhöhe */
  margin-top: 20px; /* Platz über dem Text */
  font-weight: normal; /* Normale Schriftstärke */
}
